<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form th:object="${user}"
      th:action="@{/api/v1/users}"
      enctype="multipart/form-data"
      method="post">
    <label for="username"> Username:
        <input id="username" type="text" name="username" th:value="*{username}">
    </label><br>
    <label for="birthDate"> Birthdate:
        <input id="birthDate" type="date" name="birthDate" th:value="*{birthDate}">
    </label><br>
    <label for="firstName"> FirstName:
        <input id="firstName" type="text" name="firstName" th:value="*{firstName}">
    </label><br>
    <label for="lastName"> LastName:
        <input id="lastName" type="text" name="lastName" th:value="*{lastName}">
    </label><br>
    <label for="image"> Image:
        <input id="image" type="file" name="image">
    </label><br>
    <div th:each="role : ${roles}">
        <input th:id="${role}" type="radio" name="role" th:value="${role}" th:checked="${role == user.getRole()}">
        <label th:for="${role}" th:text="${role}">Role name</label>
    </div>
    <div>
        <label for="company">
            <select id="company" name="companyId">
                <option th:each="company : ${companies}"
                        th:value="${company.id}"
                        th:selected="${company.id == user.companyId}"
                        th:text="${company.name}">
                    Company
                </option>
            </select>
        </label>
    </div>
    <button type="submit">Register</button>
    <div th:if="${errors}">
        <p style="color: red"
           th:each="error : ${errors}"
           th:text="${error.defaultMessage}">
            Error message
        </p>
    </div>
</form>
</body>
</html>